<a href="https://colab.research.google.com/github/JhonFiUNFV/python_prep/blob/master/map_reduce_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importaci√≥n de la data

In [ ]:
# Leyendo la data linea por linea
data = []
with open("Ejemplo02_MR.txt","r") as archivo:
    
    for linea in archivo:
        print(linea)
        data.append(linea)

4	Book A	2

5	Book B	8

6	Book C	1

7	Book B	6

2	Book B	15

3	Book A	2

4	Book C	7

5	Book A	1

5	Book C	4

6	Book A	3

7	Book B	9

8	Book C	11

In [ ]:
# Mostrando la data
print(data)

['4\tBook A\t2\n', '5\tBook B\t8\n', '6\tBook C\t1\n', '7\tBook B\t6\n', '2\tBook B\t15\n', '3\tBook A\t2\n', '4\tBook C\t7\n', '5\tBook A\t1\n', '5\tBook C\t4\n', '6\tBook A\t3\n', '7\tBook B\t9\n', '8\tBook C\t11']

In [ ]:
# Limpieando la data
data = [linea.strip() for linea in data]
data

['4\tBook A\t2',
 '5\tBook B\t8',
 '6\tBook C\t1',
 '7\tBook B\t6',
 '2\tBook B\t15',
 '3\tBook A\t2',
 '4\tBook C\t7',
 '5\tBook A\t1',
 '5\tBook C\t4',
 '6\tBook A\t3',
 '7\tBook B\t9',
 '8\tBook C\t11']

In [ ]:
# Quedandome con las palabras
data = [linea.split('\t') for linea in data]
data

[['4', 'Book A', '2'],
 ['5', 'Book B', '8'],
 ['6', 'Book C', '1'],
 ['7', 'Book B', '6'],
 ['2', 'Book B', '15'],
 ['3', 'Book A', '2'],
 ['4', 'Book C', '7'],
 ['5', 'Book A', '1'],
 ['5', 'Book C', '4'],
 ['6', 'Book A', '3'],
 ['7', 'Book B', '9'],
 ['8', 'Book C', '11']]

In [ ]:
# Mostrando la data
for linea in data:
    print(linea)
    for palabra in linea:
        print(palabra)

['4', 'Book A', '2']
4
Book A
2
['5', 'Book B', '8']
5
Book B
8
['6', 'Book C', '1']
6
Book C
1
['7', 'Book B', '6']
7
Book B
6
['2', 'Book B', '15']
2
Book B
15
['3', 'Book A', '2']
3
Book A
2
['4', 'Book C', '7']
4
Book C
7
['5', 'Book A', '1']
5
Book A
1
['5', 'Book C', '4']
5
Book C
4
['6', 'Book A', '3']
6
Book A
3
['7', 'Book B', '9']
7
Book B
9
['8', 'Book C', '11']
8
Book C
11

In [ ]:
# Generando nuestros pares de clave - valor (map)
dataMap = []
for linea in data:
    print(linea)
    llave = linea[1]
    valor = linea[2]
    dataMap.append(llave + '|' + valor)
dataMap

['4', 'Book A', '2']
['5', 'Book B', '8']
['6', 'Book C', '1']
['7', 'Book B', '6']
['2', 'Book B', '15']
['3', 'Book A', '2']
['4', 'Book C', '7']
['5', 'Book A', '1']
['5', 'Book C', '4']
['6', 'Book A', '3']
['7', 'Book B', '9']
['8', 'Book C', '11']

['Book A|2',
 'Book B|8',
 'Book C|1',
 'Book B|6',
 'Book B|15',
 'Book A|2',
 'Book C|7',
 'Book A|1',
 'Book C|4',
 'Book A|3',
 'Book B|9',
 'Book C|11']

In [ ]:
# Ordenando la data (shuffle)
dataMap.sort()
dataMap

['Book A|1',
 'Book A|2',
 'Book A|2',
 'Book A|3',
 'Book B|15',
 'Book B|6',
 'Book B|8',
 'Book B|9',
 'Book C|1',
 'Book C|11',
 'Book C|4',
 'Book C|7']

In [ ]:
# Mostrando los pares de clave - valor
for par in dataMap:
    print(par)

Book A|1
Book A|2
Book A|2
Book A|3
Book B|15
Book B|6
Book B|8
Book B|9
Book C|1
Book C|11
Book C|4
Book C|7

In [ ]:
# Reduciendo los pares de clave valor (reduce)
dictResultado = {}
for par in dataMap:
    llave, valor = par.split('|')
    print(llave, valor)
    dictResultado[llave] = dictResultado.get(llave, 0) + int(valor)

Book A 1
Book A 2
Book A 2
Book A 3
Book B 15
Book B 6
Book B 8
Book B 9
Book C 1
Book C 11
Book C 4
Book C 7

In [ ]:
# Mostrando el resultado
dictResultado

{'Book A': 8, 'Book B': 38, 'Book C': 23}