<a href="https://colab.research.google.com/github/JhonFiUNFV/python_prep/blob/master/Resolucion_Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Descargamos spark con hadoop y Java
!apt-get update # Actualizar el gestor de paquetes de Linux
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Descargar Java
!wget -q https://dlcdn.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz # Descargar Apache Spark
!tar xf spark-2.4.8-bin-hadoop2.7.tgz #Descomprimir Spark
!pip install -q findspark # Para Utilizar Spark

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [84.8 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,733 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,167 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,953 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,496 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,272 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,001 kB]
Fetched 13.0 MB in 10s (1,236 kB/s)
Reading package lists... Done

In [2]:
# Seteamos las variables de entorno
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [3]:
# Creamos la conexion a Spark 
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
spark

In [5]:
# Librerias Spark
from pyspark.sql import functions as F

#Librerias Python
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
ruta = "/content/drive/MyDrive/Data/Data_2/"

# Importacion de los datos

In [8]:
# Importando los datos del banco
dfBanco = spark.read.csv(ruta  + 'bank.csv', header = True, inferSchema = True)
dfBanco.show()

+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
| ID|age|job_id|id_marital|id_education|default|balance|housing|loan|id_contact|day|month|duration|campaign|pdays|previous|id_poutcome|target|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
|  1| 30|     1|         M|           P|     no|   1787|     no|  no|         C| 19|  oct|      79|       1|   -1|       0|          U|    no|
|  2| 33|     2|         M|           S|     no|   4789|    yes| yes|         C| 11|  may|     220|       1|  339|       4|          F|    no|
|  3| 35|     3|         S|           T|     no|   1350|    yes|  no|         C| 16|  apr|     185|       1|  330|       1|          F|    no|
|  4| 30|     3|         M|           T|     no|   1476|    yes| yes|         U|  3|  jun|     199|       4|   -1|       0|          U|    no|
|  5| 59|     4|         M|           S|     no|      0|    yes|  no|         U|  5|  may|     226|       1|   -1|       0|          U|    no|
|  6| 35|     3|         S|           T|     no|    747|     no|  no|         C| 23|  feb|     141|       2|  176|       3|          F|    no|
|  7| 36|     5|         M|           T|     no|    307|    yes|  no|         C| 14|  may|     341|       1|  330|       2|          O|    no|
|  8| 39|     6|         M|           S|     no|    147|    yes|  no|         C|  6|  may|     151|       2|   -1|       0|          U|    no|
|  9| 41|     7|         M|           T|     no|    221|    yes|  no|         U| 14|  may|      57|       2|   -1|       0|          U|    no|
| 10| 43|     2|         M|           P|     no|    -88|    yes| yes|         C| 17|  apr|     313|       1|  147|       2|          F|    no|
| 11| 39|     2|         M|           S|     no|   9374|    yes|  no|         U| 20|  may|     273|       1|   -1|       0|          U|    no|
| 12| 43|     8|         M|           S|     no|    264|    yes|  no|         C| 17|  apr|     113|       2|   -1|       0|          U|    no|
| 13| 36|     6|         M|           T|     no|   1109|     no|  no|         C| 13|  aug|     328|       2|   -1|       0|          U|    no|
| 14| 20|     9|         S|           S|     no|    502|     no|  no|         C| 30|  apr|     261|       1|   -1|       0|          U|   yes|
| 15| 31|     4|         M|           S|     no|    360|    yes| yes|         C| 29|  jan|      89|       1|  241|       1|          F|    no|
| 16| 40|     3|         M|           T|     no|    194|     no| yes|         C| 29|  aug|     189|       2|   -1|       0|          U|    no|
| 17| 56|     6|         M|           S|     no|   4073|     no|  no|         C| 27|  aug|     239|       5|   -1|       0|          U|    no|
| 18| 37|     8|         S|           T|     no|   2317|    yes|  no|         C| 20|  apr|     114|       1|  152|       2|          F|    no|
| 19| 25|     4|         S|           P|     no|   -221|    yes|  no|         U| 23|  may|     250|       1|   -1|       0|          U|    no|
| 20| 31|     2|         M|           S|     no|    132|     no|  no|         C|  7|  jul|     148|       1|  152|       1|          O|    no|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
only showing top 20 rows

In [9]:
# Importando los datos del contacto
dfContacto = spark.read.csv(ruta  + 'contact.txt', header = True, inferSchema = True)
dfContacto.show()

+----------+---------+
|id_contact|  contact|
+----------+---------+
|         C| cellular|
|         U|  unknown|
|         T|telephone|
+----------+---------+

In [10]:
# Importando los datos del educacion
dfEducacion = spark.read.csv(ruta  + 'education.txt',sep=';', header = True, inferSchema = True)
dfEducacion.show()

+------------+---------+
|id_education|education|
+------------+---------+
|           P|  primary|
|           S|secondary|
|           T| tertiary|
|           U|  unknown|
+------------+---------+

In [11]:
# Importando los datos del trabajo
dfTrabajo = spark.read.csv(ruta  + 'job.tsv',sep='\t', header = True, inferSchema = True)
dfTrabajo.show()

+------+-------------+
|job_id|          job|
+------+-------------+
|     1|   unemployed|
|     2|     services|
|     3|   management|
|     4|  blue-collar|
|     5|self-employed|
|     6|   technician|
|     7| entrepreneur|
|     8|       admin.|
|     9|      student|
|    10|    housemaid|
|    11|      retired|
|    12|      unknown|
+------+-------------+

In [12]:
# Importando los datos del matrimonio
dfMarital = spark.read.csv(ruta  + 'marital.txt',sep='|', header = True, inferSchema = True)
dfMarital.show()

+----------+--------+
|id_marital| marital|
+----------+--------+
|         M| married|
|         S|  single|
|         D|divorced|
+----------+--------+

In [13]:
# Importando los datos del gastos
dfGasto = spark.read.csv(ruta  + 'poutcome.txt',sep=':', header = True, inferSchema = True)
dfGasto.show()

+-----------+--------+
|id_poutcome|poutcome|
+-----------+--------+
|          U| unknown|
|          F| failure|
|          O|   other|
|          S| success|
+-----------+--------+

# Ejercicio 2
2)	Desarrolle una consulta que muestre el ID, la edad (age) y el balance de la tabla bank ordenada por edad de menor a mayor y por balance de mayor a menor.

In [14]:
dfBanco.select(F.col('ID'), F.col('age'), F.col('balance'))\
.sort(F.col('age').desc(), F.col('balance')).show()

+----+---+-------+
|  ID|age|balance|
+----+---+-------+
|3312| 87|    230|
|1867| 86|   1503|
|4109| 84|    639|
| 634| 83|      0|
|4324| 83|      0|
|1350| 83|    425|
|4389| 83|   1097|
| 574| 81|      1|
|3691| 80|      0|
|2849| 80|    462|
|2897| 80|   1548|
| 689| 80|   6483|
|1313| 80|   8304|
|2071| 80|   8304|
|3361| 79|    429|
|3751| 79|   2628|
|1423| 79|   4738|
|3203| 79|   8556|
|1950| 78|    226|
|  37| 78|    229|
+----+---+-------+
only showing top 20 rows

# Ejercicio 3
Desarrolle una consulta que muestre el ID, el id_marital y la columna default de los registros cuyo valor de loan sea igual a “yes”. (Tabla: bank)

In [15]:
dfBanco.select('ID', 'id_marital', 'default', 'loan').where(F.col('loan')=='yes').show()

+---+----------+-------+----+
| ID|id_marital|default|loan|
+---+----------+-------+----+
|  2|         M|     no| yes|
|  4|         M|     no| yes|
| 10|         M|     no| yes|
| 15|         M|     no| yes|
| 16|         M|     no| yes|
| 29|         M|     no| yes|
| 30|         M|     no| yes|
| 49|         S|    yes| yes|
| 57|         M|     no| yes|
| 59|         S|     no| yes|
| 60|         D|     no| yes|
| 61|         M|     no| yes|
| 69|         M|     no| yes|
| 78|         S|     no| yes|
| 83|         S|     no| yes|
| 87|         S|     no| yes|
|107|         M|     no| yes|
|113|         M|     no| yes|
|116|         S|     no| yes|
|118|         S|     no| yes|
+---+----------+-------+----+
only showing top 20 rows

# Ejercicio 4
Desarrolle una consulta que muestre el job_id, la duracion (duration) y la campaña (campaign) de los registros cuyo valor de balan sea menor igual a 800 y los meses (month) sean igual a Julio y Diciembre. (Tabla: bank)

In [16]:
dfBanco.select('job_id', 'duration', 'campaign', 'balance', 'month')\
  .where((F.col('balance')<= 800) & (F.col('month').isin('jul', 'dec'))).show()

+------+--------+--------+-------+-----+
|job_id|duration|campaign|balance|month|
+------+--------+--------+-------+-----+
|     2|     148|       1|    132|  jul|
|     7|     125|       2|     93|  jul|
|     5|     149|       2|    784|  jul|
|     4|     554|       3|   -516|  jul|
|     6|     130|       4|    444|  jul|
|     3|     630|       3|      0|  jul|
|     3|     268|       2|      0|  jul|
|     8|     652|       1|    451|  jul|
|     2|     398|       2|    657|  jul|
|    10|     435|       3|      0|  jul|
|     5|     317|       5|    217|  jul|
|     4|     779|       2|   -231|  jul|
|     6|      32|       3|    586|  jul|
|     3|     455|       2|      0|  jul|
|     3|     102|       3|    442|  jul|
|     1|      92|       1|   -249|  jul|
|     8|     166|       1|   -465|  jul|
|     2|     333|       2|      0|  jul|
|     4|      97|       6|      0|  jul|
|     5|     543|      12|    215|  jul|
+------+--------+--------+-------+-----+
only showing top 20 rows

In [17]:
dfBanco.select('job_id', 'duration', 'campaign', 'balance', 'month')\
  .where("balance <= 800 AND month IN ('jul', 'dec')").show()

+------+--------+--------+-------+-----+
|job_id|duration|campaign|balance|month|
+------+--------+--------+-------+-----+
|     2|     148|       1|    132|  jul|
|     7|     125|       2|     93|  jul|
|     5|     149|       2|    784|  jul|
|     4|     554|       3|   -516|  jul|
|     6|     130|       4|    444|  jul|
|     3|     630|       3|      0|  jul|
|     3|     268|       2|      0|  jul|
|     8|     652|       1|    451|  jul|
|     2|     398|       2|    657|  jul|
|    10|     435|       3|      0|  jul|
|     5|     317|       5|    217|  jul|
|     4|     779|       2|   -231|  jul|
|     6|      32|       3|    586|  jul|
|     3|     455|       2|      0|  jul|
|     3|     102|       3|    442|  jul|
|     1|      92|       1|   -249|  jul|
|     8|     166|       1|   -465|  jul|
|     2|     333|       2|      0|  jul|
|     4|      97|       6|      0|  jul|
|     5|     543|      12|    215|  jul|
+------+--------+--------+-------+-----+
only showing top 20 rows

# Ejercicio 5
Desarrolle una consulta que muestre la cantidad de registros agrupados por id_education y target. (Tabla: bank)

In [18]:
dfBanco.groupby('id_education', 'target').count().show()

+------------+------+-----+
|id_education|target|count|
+------------+------+-----+
|           P|    no|  614|
|           U|   yes|   19|
|           P|   yes|   64|
|           S|    no| 2061|
|           T|    no| 1157|
|           S|   yes|  245|
|           U|    no|  168|
|           T|   yes|  193|
+------------+------+-----+

In [19]:
dfBanco.groupby('id_education', 'target').agg(F.count('*').alias('cuenta')).show()

+------------+------+------+
|id_education|target|cuenta|
+------------+------+------+
|           P|    no|   614|
|           U|   yes|    19|
|           P|   yes|    64|
|           S|    no|  2061|
|           T|    no|  1157|
|           S|   yes|   245|
|           U|    no|   168|
|           T|   yes|   193|
+------------+------+------+

# Ejercicio 6
Desarrolle una consulta que muestre la suma de las duraciones (duration) y el conteo de cada mes (month). (Tabla Bank)

In [20]:
dfBanco.show()

+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
| ID|age|job_id|id_marital|id_education|default|balance|housing|loan|id_contact|day|month|duration|campaign|pdays|previous|id_poutcome|target|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
|  1| 30|     1|         M|           P|     no|   1787|     no|  no|         C| 19|  oct|      79|       1|   -1|       0|          U|    no|
|  2| 33|     2|         M|           S|     no|   4789|    yes| yes|         C| 11|  may|     220|       1|  339|       4|          F|    no|
|  3| 35|     3|         S|           T|     no|   1350|    yes|  no|         C| 16|  apr|     185|       1|  330|       1|          F|    no|
|  4| 30|     3|         M|           T|     no|   1476|    yes| yes|         U|  3|  jun|     199|       4|   -1|       0|          U|    no|
|  5| 59|     4|         M|           S|     no|      0|    yes|  no|         U|  5|  may|     226|       1|   -1|       0|          U|    no|
|  6| 35|     3|         S|           T|     no|    747|     no|  no|         C| 23|  feb|     141|       2|  176|       3|          F|    no|
|  7| 36|     5|         M|           T|     no|    307|    yes|  no|         C| 14|  may|     341|       1|  330|       2|          O|    no|
|  8| 39|     6|         M|           S|     no|    147|    yes|  no|         C|  6|  may|     151|       2|   -1|       0|          U|    no|
|  9| 41|     7|         M|           T|     no|    221|    yes|  no|         U| 14|  may|      57|       2|   -1|       0|          U|    no|
| 10| 43|     2|         M|           P|     no|    -88|    yes| yes|         C| 17|  apr|     313|       1|  147|       2|          F|    no|
| 11| 39|     2|         M|           S|     no|   9374|    yes|  no|         U| 20|  may|     273|       1|   -1|       0|          U|    no|
| 12| 43|     8|         M|           S|     no|    264|    yes|  no|         C| 17|  apr|     113|       2|   -1|       0|          U|    no|
| 13| 36|     6|         M|           T|     no|   1109|     no|  no|         C| 13|  aug|     328|       2|   -1|       0|          U|    no|
| 14| 20|     9|         S|           S|     no|    502|     no|  no|         C| 30|  apr|     261|       1|   -1|       0|          U|   yes|
| 15| 31|     4|         M|           S|     no|    360|    yes| yes|         C| 29|  jan|      89|       1|  241|       1|          F|    no|
| 16| 40|     3|         M|           T|     no|    194|     no| yes|         C| 29|  aug|     189|       2|   -1|       0|          U|    no|
| 17| 56|     6|         M|           S|     no|   4073|     no|  no|         C| 27|  aug|     239|       5|   -1|       0|          U|    no|
| 18| 37|     8|         S|           T|     no|   2317|    yes|  no|         C| 20|  apr|     114|       1|  152|       2|          F|    no|
| 19| 25|     4|         S|           P|     no|   -221|    yes|  no|         U| 23|  may|     250|       1|   -1|       0|          U|    no|
| 20| 31|     2|         M|           S|     no|    132|     no|  no|         C|  7|  jul|     148|       1|  152|       1|          O|    no|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
only showing top 20 rows

In [21]:
dfBanco.groupby('month').agg(F.count('*').alias('registros'), F.sum('duration').alias('Duracion_Total')).show()

+-----+---------+--------------+
|month|registros|Duracion_Total|
+-----+---------+--------------+
|  jun|      531|        134038|
|  aug|      633|        154289|
|  may|     1398|        373708|
|  feb|      222|         56765|
|  sep|       52|         11218|
|  mar|       49|          9746|
|  oct|       80|         21824|
|  jul|      706|        191471|
|  nov|      389|        105834|
|  apr|      293|         86246|
|  dec|       20|          8338|
|  jan|      148|         39892|
+-----+---------+--------------+

# Ejercico 7
Desarrole una consulta que muestre el trabajo (job), la columna housing y los dias (day) de los registros cuyo id_contact se igual a ‘C’. (tablas: bank y job)

In [22]:
dfBanco.alias('A').join(dfTrabajo.alias('B'), on=["job_id"])\
  .select(F.col('B.job'), F.col('A.housing'), F.col('A.campaign'), F.col('A.id_contact'))\
  .where("A.id_contact = 'C'").show()

+-------------+-------+--------+----------+
|          job|housing|campaign|id_contact|
+-------------+-------+--------+----------+
|   unemployed|     no|       1|         C|
|     services|    yes|       1|         C|
|   management|    yes|       1|         C|
|   management|     no|       2|         C|
|self-employed|    yes|       1|         C|
|   technician|    yes|       2|         C|
|     services|    yes|       1|         C|
|       admin.|    yes|       2|         C|
|   technician|     no|       2|         C|
|      student|     no|       1|         C|
|  blue-collar|    yes|       1|         C|
|   management|     no|       2|         C|
|   technician|     no|       5|         C|
|       admin.|    yes|       1|         C|
|     services|     no|       1|         C|
|   management|    yes|       2|         C|
|   management|     no|       3|         C|
| entrepreneur|     no|       2|         C|
|    housemaid|     no|       3|         C|
|   management|     no|       2|         C|
+-------------+-------+--------+----------+
only showing top 20 rows

In [23]:
dfBanco.alias('A').join(dfTrabajo.alias('B'), on=["job_id"])\
  .select(F.col('B.job'), F.col('A.housing'), F.col('A.campaign'), F.col('A.id_contact'))\
  .where(F.col("A.id_contact") == 'C').show()

+-------------+-------+--------+----------+
|          job|housing|campaign|id_contact|
+-------------+-------+--------+----------+
|   unemployed|     no|       1|         C|
|     services|    yes|       1|         C|
|   management|    yes|       1|         C|
|   management|     no|       2|         C|
|self-employed|    yes|       1|         C|
|   technician|    yes|       2|         C|
|     services|    yes|       1|         C|
|       admin.|    yes|       2|         C|
|   technician|     no|       2|         C|
|      student|     no|       1|         C|
|  blue-collar|    yes|       1|         C|
|   management|     no|       2|         C|
|   technician|     no|       5|         C|
|       admin.|    yes|       1|         C|
|     services|     no|       1|         C|
|   management|    yes|       2|         C|
|   management|     no|       3|         C|
| entrepreneur|     no|       2|         C|
|    housemaid|     no|       3|         C|
|   management|     no|       2|         C|
+-------------+-------+--------+----------+
only showing top 20 rows

In [24]:
dfBanco[['job_id', 'housing', 'day', 'id_contact']].join(dfTrabajo, on=["job_id"])\
  .where(F.col("id_contact") == 'C')[['job', 'housing', 'day']].show()

+-------------+-------+---+
|          job|housing|day|
+-------------+-------+---+
|   unemployed|     no| 19|
|     services|    yes| 11|
|   management|    yes| 16|
|   management|     no| 23|
|self-employed|    yes| 14|
|   technician|    yes|  6|
|     services|    yes| 17|
|       admin.|    yes| 17|
|   technician|     no| 13|
|      student|     no| 30|
|  blue-collar|    yes| 29|
|   management|     no| 29|
|   technician|     no| 27|
|       admin.|    yes| 20|
|     services|     no|  7|
|   management|    yes| 18|
|   management|     no| 19|
| entrepreneur|     no|  7|
|    housemaid|     no| 30|
|   management|     no| 20|
+-------------+-------+---+
only showing top 20 rows

# Ejercicio 8
Desarrole una consulta que muestre el estado civil (marital), nivel de educación (education) y la edad (age) de los registros cuyo estado civil sea solteros (single) y su educación sea mayor a la secundaria (education = tertiary). (Tablas: bank, marital y education)

In [25]:
dfBanco.alias('A').join(dfMarital.alias('B'), on = ["id_marital"])\
  .join(dfEducacion.alias('C'), on = ["id_education"])\
  .select(F.col('B.marital'), F.col('C.education'), F.col('A.age'))\
  .where((F.col('B.marital') == 'single') & (F.col('C.education') == 'tertiary')).show()

+-------+---------+---+
|marital|education|age|
+-------+---------+---+
| single| tertiary| 35|
| single| tertiary| 35|
| single| tertiary| 37|
| single| tertiary| 32|
| single| tertiary| 23|
| single| tertiary| 38|
| single| tertiary| 36|
| single| tertiary| 32|
| single| tertiary| 34|
| single| tertiary| 33|
| single| tertiary| 32|
| single| tertiary| 31|
| single| tertiary| 32|
| single| tertiary| 41|
| single| tertiary| 30|
| single| tertiary| 38|
| single| tertiary| 32|
| single| tertiary| 51|
| single| tertiary| 34|
| single| tertiary| 33|
+-------+---------+---+
only showing top 20 rows

In [26]:
dfBanco.select('id_marital', 'id_education', 'age' )\
  .join(dfMarital.where(F.col('marital')== 'single'), on = ['id_marital'])\
  .join(dfEducacion.where(F.col('education') == 'tertiary'), on = ['id_education'])\
  .select('marital', 'education', 'age').show()

+-------+---------+---+
|marital|education|age|
+-------+---------+---+
| single| tertiary| 35|
| single| tertiary| 35|
| single| tertiary| 37|
| single| tertiary| 32|
| single| tertiary| 23|
| single| tertiary| 38|
| single| tertiary| 36|
| single| tertiary| 32|
| single| tertiary| 34|
| single| tertiary| 33|
| single| tertiary| 32|
| single| tertiary| 31|
| single| tertiary| 32|
| single| tertiary| 41|
| single| tertiary| 30|
| single| tertiary| 38|
| single| tertiary| 32|
| single| tertiary| 51|
| single| tertiary| 34|
| single| tertiary| 33|
+-------+---------+---+
only showing top 20 rows

# Ejercicio 9
Desarrollar un consulta que cuente la cantidad de registros por cada tipo de contacto (contact) de los target que sean “no”. (Tablas: Bank y contact)

In [30]:
dfBanco.alias('A').join(dfContacto.alias('B'), on=["id_contact"])\
  .where((F.col('A.target')=='no'))\
  .groupBy('B.contact').count().show()

+---------+-----+
|  contact|count|
+---------+-----+
|  unknown| 1263|
| cellular| 2480|
|telephone|  257|
+---------+-----+

# Ejercicio 10
Elabore una consulta que sume los balances (balance) agrupados por trabajo (job), educación (education) para los registros cuya edad (age) sea mayor igual a 21, su educación no sea desconocida (unknown). (tablas: bank, job y education.)

In [31]:
dfBanco.show()

+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
| ID|age|job_id|id_marital|id_education|default|balance|housing|loan|id_contact|day|month|duration|campaign|pdays|previous|id_poutcome|target|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
|  1| 30|     1|         M|           P|     no|   1787|     no|  no|         C| 19|  oct|      79|       1|   -1|       0|          U|    no|
|  2| 33|     2|         M|           S|     no|   4789|    yes| yes|         C| 11|  may|     220|       1|  339|       4|          F|    no|
|  3| 35|     3|         S|           T|     no|   1350|    yes|  no|         C| 16|  apr|     185|       1|  330|       1|          F|    no|
|  4| 30|     3|         M|           T|     no|   1476|    yes| yes|         U|  3|  jun|     199|       4|   -1|       0|          U|    no|
|  5| 59|     4|         M|           S|     no|      0|    yes|  no|         U|  5|  may|     226|       1|   -1|       0|          U|    no|
|  6| 35|     3|         S|           T|     no|    747|     no|  no|         C| 23|  feb|     141|       2|  176|       3|          F|    no|
|  7| 36|     5|         M|           T|     no|    307|    yes|  no|         C| 14|  may|     341|       1|  330|       2|          O|    no|
|  8| 39|     6|         M|           S|     no|    147|    yes|  no|         C|  6|  may|     151|       2|   -1|       0|          U|    no|
|  9| 41|     7|         M|           T|     no|    221|    yes|  no|         U| 14|  may|      57|       2|   -1|       0|          U|    no|
| 10| 43|     2|         M|           P|     no|    -88|    yes| yes|         C| 17|  apr|     313|       1|  147|       2|          F|    no|
| 11| 39|     2|         M|           S|     no|   9374|    yes|  no|         U| 20|  may|     273|       1|   -1|       0|          U|    no|
| 12| 43|     8|         M|           S|     no|    264|    yes|  no|         C| 17|  apr|     113|       2|   -1|       0|          U|    no|
| 13| 36|     6|         M|           T|     no|   1109|     no|  no|         C| 13|  aug|     328|       2|   -1|       0|          U|    no|
| 14| 20|     9|         S|           S|     no|    502|     no|  no|         C| 30|  apr|     261|       1|   -1|       0|          U|   yes|
| 15| 31|     4|         M|           S|     no|    360|    yes| yes|         C| 29|  jan|      89|       1|  241|       1|          F|    no|
| 16| 40|     3|         M|           T|     no|    194|     no| yes|         C| 29|  aug|     189|       2|   -1|       0|          U|    no|
| 17| 56|     6|         M|           S|     no|   4073|     no|  no|         C| 27|  aug|     239|       5|   -1|       0|          U|    no|
| 18| 37|     8|         S|           T|     no|   2317|    yes|  no|         C| 20|  apr|     114|       1|  152|       2|          F|    no|
| 19| 25|     4|         S|           P|     no|   -221|    yes|  no|         U| 23|  may|     250|       1|   -1|       0|          U|    no|
| 20| 31|     2|         M|           S|     no|    132|     no|  no|         C|  7|  jul|     148|       1|  152|       1|          O|    no|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
only showing top 20 rows

In [32]:
dfTrabajo.show()

+------+-------------+
|job_id|          job|
+------+-------------+
|     1|   unemployed|
|     2|     services|
|     3|   management|
|     4|  blue-collar|
|     5|self-employed|
|     6|   technician|
|     7| entrepreneur|
|     8|       admin.|
|     9|      student|
|    10|    housemaid|
|    11|      retired|
|    12|      unknown|
+------+-------------+

In [33]:
dfEducacion.show()

+------------+---------+
|id_education|education|
+------------+---------+
|           P|  primary|
|           S|secondary|
|           T| tertiary|
|           U|  unknown|
+------------+---------+

In [35]:
dfBanco.where(F.col('age')>=21)\
.join(dfTrabajo, on=['job_id'])\
.join(dfEducacion.where(F.col('education')!='unknown'), on = ['id_education'])\
.groupby('job', 'education')\
.agg(F.sum('balance').alias('Total Balance'), F.count('*').alias('Total Registros')).show()

+-------------+---------+-------------+---------------+
|          job|education|Total Balance|Total Registros|
+-------------+---------+-------------+---------------+
|      retired|  primary|       219568|             80|
|   management| tertiary|      1397982|            787|
| entrepreneur|secondary|        74018|             58|
|   technician|secondary|       599876|            520|
|      student|secondary|        73404|             43|
|      student| tertiary|        22338|             19|
|       admin.| tertiary|        53718|             51|
|   technician| tertiary|       344274|            211|
|  blue-collar| tertiary|        28626|             12|
|      unknown|secondary|         9832|              8|
|       admin.|secondary|       498984|            393|
|   management|secondary|       145012|            116|
| entrepreneur| tertiary|       188771|             73|
|  blue-collar|secondary|       559942|            524|
|    housemaid|  primary|       103005|             57|
|self-employed|secondary|        88506|             76|
|     services|secondary|       362595|            363|
|   technician|  primary|        38895|             15|
|    housemaid| tertiary|        52636|             22|
|   management|  primary|       104731|             39|
+-------------+---------+-------------+---------------+
only showing top 20 rows