<a href="https://colab.research.google.com/github/JhonFiUNFV/python_prep/blob/master/SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.- Configuracion Entorno Spark

In [7]:
# Descargamos spark con hadoop y Java
!apt-get update # Actualizar el gestor de paquetes de Linux
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Descargar Java
!wget -q https://dlcdn.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz # Descargar Apache Spark
!tar xf spark-2.4.8-bin-hadoop2.7.tgz # Descomprimir Spark
!pip install -q findspark # Para utilizar Spark

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Ign:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [8]:
# Seteamos las variables de entorno
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [9]:
# Creamos la conexion a Spark 
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [10]:
spark

# 2.- Importacion de Librerias

In [11]:
# Librerias Spark
from pyspark.sql import functions as F

#Librerias Python
import pandas as pd

# 3.- Importacion de Datos

In [13]:
# Usamos la librería files de colab
from google.colab import files
uploaded = files.upload()

# También se puede importar desde el mismo navegador

## 3.1. Importacion desde un csv

Para importar datos desde un csv utilizamos el comando **spark.read.csv**

Sintaxis más utilizada:
**dfsSpark = spark.read.csv(DATA_PATH + file_name, sep = ',', header=True, inferSchema=True)**

In [14]:
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    :param path: string, or list of strings, for input path(s),
                 or RDD of Strings storing CSV rows.
    :param schema: an optional :class:`pyspark.sql.types.StructType` for the input schema
                   or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    :param sep: sets a single character as a separator for each field and value.
                If None is set, it uses the default value, ``,``.
    :param encoding: decodes the CSV files by the given encoding type. If None is set,
                     it uses the default value, ``UTF-8``.
    :param quote: sets a single character used for escaping quoted values where the
                  separator can be part of the value. If None is set, it uses the default
                  value, ``"``. If you would like to turn off quotations, you need to set an
                  empty string.
    :param escape: sets a single character used for escaping quotes inside an already
                   quoted value. If None is set, it uses the default value, ``\``.
    :param comment: sets a single character used for skipping lines beginning with this
                    character. By default (None), it is disabled.
    :param header: uses the first line as names of columns. If None is set, it uses the
                   default value, ``false``.
                   .. note:: if the given path is a RDD of Strings, this header
                   option will remove all lines same with the header if exists.

    :param inferSchema: infers the input schema automatically from data. It requires one extra
                   pass over the data. If None is set, it uses the default value, ``false``.
    :param enforceSchema: If it is set to ``true``, the specified or inferred schema will be
                          forcibly applied to datasource files, and headers in CSV files will be
                          ignored. If the option is set to ``false``, the schema will be
                          validated against all headers in CSV files or the first header in RDD
                          if the ``header`` option is set to ``true``. Field names in the schema
                          and column names in CSV headers are checked by their positions
                          taking into account ``spark.sql.caseSensitive``. If None is set,
                          ``true`` is used by default. Though the default value is ``true``,
                          it is recommended to disable the ``enforceSchema`` option
                          to avoid incorrect results.
    :param ignoreLeadingWhiteSpace: A flag indicating whether or not leading whitespaces from
                                    values being read should be skipped. If None is set, it
                                    uses the default value, ``false``.
    :param ignoreTrailingWhiteSpace: A flag indicating whether or not trailing whitespaces from
                                     values being read should be skipped. If None is set, it
                                     uses the default value, ``false``.
    :param nullValue: sets the string representation of a null value. If None is set, it uses
                      the default value, empty string. Since 2.0.1, this ``nullValue`` param
                      applies to all supported types including the string type.
    :param nanValue: sets the string representation of a non-number value. If None is set, it
                     uses the default value, ``NaN``.
    :param positiveInf: sets the string representation of a positive infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param negativeInf: sets the string representation of a negative infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param dateFormat: sets the string that indicates a date format. Custom date formats
                       follow the formats at ``java.text.SimpleDateFormat``. This
                       applies to date type. If None is set, it uses the
                       default value, ``yyyy-MM-dd``.
    :param timestampFormat: sets the string that indicates a timestamp format. Custom date
                            formats follow the formats at ``java.text.SimpleDateFormat``.
                            This applies to timestamp type. If None is set, it uses the
                            default value, ``yyyy-MM-dd'T'HH:mm:ss.SSSXXX``.
    :param maxColumns: defines a hard limit of how many columns a record can have. If None is
                       set, it uses the default value, ``20480``.
    :param maxCharsPerColumn: defines the maximum number of characters allowed for any given
                              value being read. If None is set, it uses the default value,
                              ``-1`` meaning unlimited length.
    :param maxMalformedLogPerPartition: this parameter is no longer used since Spark 2.2.0.
                                        If specified, it is ignored.
    :param mode: allows a mode for dealing with corrupt records during parsing. If None is
                 set, it uses the default value, ``PERMISSIVE``. Note that Spark tries to
                 parse only required columns in CSV under column pruning. Therefore, corrupt
                 records can be different based on required set of fields. This behavior can
                 be controlled by ``spark.sql.csv.parser.columnPruning.enabled``
                 (enabled by default).

            * ``PERMISSIVE`` : when it meets a corrupted record, puts the malformed string \
              into a field configured by ``columnNameOfCorruptRecord``, and sets other \
              fields to ``null``. To keep corrupt records, an user can set a string type \
              field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a \
              schema does not have the field, it drops corrupt records during parsing. \
              A record with less/more tokens than schema is not a corrupted record to CSV. \
              When it meets a record having fewer tokens than the length of the schema, \
              sets ``null`` to extra fields. When the record has more tokens than the \
              length of the schema, it drops extra tokens.
            * ``DROPMALFORMED`` : ignores the whole corrupted records.
            * ``FAILFAST`` : throws an exception when it meets corrupted records.

    :param columnNameOfCorruptRecord: allows renaming the new field having malformed string
                                      created by ``PERMISSIVE`` mode. This overrides
                                      ``spark.sql.columnNameOfCorruptRecord``. If None is set,
                                      it uses the value specified in
                                      ``spark.sql.columnNameOfCorruptRecord``.
    :param multiLine: parse records, which may span multiple lines. If None is
                      set, it uses the default value, ``false``.
    :param charToEscapeQuoteEscaping: sets a single character used for escaping the escape for
                                      the quote character. If None is set, the default value is
                                      escape character when escape and quote characters are
                                      different, ``\0`` otherwise.
    :param samplingRatio: defines fraction of rows used for schema inferring.
                          If None is set, it uses the default value, ``1.0``.
    :param emptyValue: sets the string representation of an empty value. If None is set, it uses
                       the default value, empty string.

    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

    .. versionadded:: 2.0

Ejercicio 1:
Importar el fichero **salario.csv** y ponerle de nombre dfsSalario

In [15]:
# Insertar codigo aqui
dfsCSV = spark.read.csv('2015-summary.csv', sep = ',', header=True, inferSchema=True)
dfsCSV.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

## 3.2. Importacion desde un json

Para importar datos desde un csv utilizamos el comando **spark.read.json**

Sintaxis más utilizada:
**dfsSpark = spark.read.json(DATA_PATH + file_name)**

In [18]:
help(spark.read.json)

Help on method json in module pyspark.sql.readwriter:

json(path, schema=None, primitivesAsString=None, prefersDecimal=None, allowComments=None, allowUnquotedFieldNames=None, allowSingleQuotes=None, allowNumericLeadingZero=None, allowBackslashEscapingAnyCharacter=None, mode=None, columnNameOfCorruptRecord=None, dateFormat=None, timestampFormat=None, multiLine=None, allowUnquotedControlChars=None, lineSep=None, samplingRatio=None, dropFieldIfAllNull=None, encoding=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads JSON files and returns the results as a :class:`DataFrame`.

    `JSON Lines <http://jsonlines.org/>`_ (newline-delimited JSON) is supported by default.
    For JSON (one record per file), set the ``multiLine`` parameter to ``true``.

    If the ``schema`` parameter is not specified, this function goes
    through the input once to determine the input schema.

    :param path: string represents path to the JSON dataset, or a list of paths,
                 or RDD of Strings storing JSON objects.
    :param schema: an optional :class:`pyspark.sql.types.StructType` for the input schema or
                   a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    :param primitivesAsString: infers all primitive values as a string type. If None is set,
                               it uses the default value, ``false``.
    :param prefersDecimal: infers all floating-point values as a decimal type. If the values
                           do not fit in decimal, then it infers them as doubles. If None is
                           set, it uses the default value, ``false``.
    :param allowComments: ignores Java/C++ style comment in JSON records. If None is set,
                          it uses the default value, ``false``.
    :param allowUnquotedFieldNames: allows unquoted JSON field names. If None is set,
                                    it uses the default value, ``false``.
    :param allowSingleQuotes: allows single quotes in addition to double quotes. If None is
                                    set, it uses the default value, ``true``.
    :param allowNumericLeadingZero: allows leading zeros in numbers (e.g. 00012). If None is
                                    set, it uses the default value, ``false``.
    :param allowBackslashEscapingAnyCharacter: allows accepting quoting of all character
                                               using backslash quoting mechanism. If None is
                                               set, it uses the default value, ``false``.
    :param mode: allows a mode for dealing with corrupt records during parsing. If None is
                 set, it uses the default value, ``PERMISSIVE``.

            * ``PERMISSIVE`` : when it meets a corrupted record, puts the malformed string                   into a field configured by ``columnNameOfCorruptRecord``, and sets other                   fields to ``null``. To keep corrupt records, an user can set a string type                   field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a                   schema does not have the field, it drops corrupt records during parsing.                   When inferring a schema, it implicitly adds a ``columnNameOfCorruptRecord``                   field in an output schema.
            *  ``DROPMALFORMED`` : ignores the whole corrupted records.
            *  ``FAILFAST`` : throws an exception when it meets corrupted records.

    :param columnNameOfCorruptRecord: allows renaming the new field having malformed string
                                      created by ``PERMISSIVE`` mode. This overrides
                                      ``spark.sql.columnNameOfCorruptRecord``. If None is set,
                                      it uses the value specified in
                                      ``spark.sql.columnNameOfCorruptRecord``.
    :param dateFormat: sets the string that indicates a date format. Custom date formats
                       follow the formats at ``java.text.SimpleDateFormat``. This
                       applies to date type. If None is set, it uses the
                       default value, ``yyyy-MM-dd``.
    :param timestampFormat: sets the string that indicates a timestamp format. Custom date
                            formats follow the formats at ``java.text.SimpleDateFormat``.
                            This applies to timestamp type. If None is set, it uses the
                            default value, ``yyyy-MM-dd'T'HH:mm:ss.SSSXXX``.
    :param multiLine: parse one record, which may span multiple lines, per file. If None is
                      set, it uses the default value, ``false``.
    :param allowUnquotedControlChars: allows JSON Strings to contain unquoted control
                                      characters (ASCII characters with value less than 32,
                                      including tab and line feed characters) or not.
    :param encoding: allows to forcibly set one of standard basic or extended encoding for
                     the JSON files. For example UTF-16BE, UTF-32LE. If None is set,
                     the encoding of input JSON will be detected automatically
                     when the multiLine option is set to ``true``.
    :param lineSep: defines the line separator that should be used for parsing. If None is
                    set, it covers all ``\r``, ``\r\n`` and ``\n``.
    :param samplingRatio: defines fraction of input JSON objects used for schema inferring.
                          If None is set, it uses the default value, ``1.0``.
    :param dropFieldIfAllNull: whether to ignore column of all null values or empty
                               array/struct during schema inference. If None is set, it
                               uses the default value, ``false``.

    >>> df1 = spark.read.json('python/test_support/sql/people.json')
    >>> df1.dtypes
    [('age', 'bigint'), ('name', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/people.json')
    >>> df2 = spark.read.json(rdd)
    >>> df2.dtypes
    [('age', 'bigint'), ('name', 'string')]

    .. versionadded:: 1.4

In [19]:
# Importando desde json
dfsJson = spark.read.json('2015-summary.json')
dfsJson.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

## 3.3. Importacion desde un txt

Para importar datos desde un csv utilizamos el comando **spark.read.text**

Sintaxis más utilizada:
**dfsSpark = spark.read.text(DATA_PATH + file_name)**

In [20]:
help(spark.read.text)

Help on method text in module pyspark.sql.readwriter:

text(paths, wholetext=False, lineSep=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads text files and returns a :class:`DataFrame` whose schema starts with a
    string column named "value", and followed by partitioned columns if there
    are any.

    By default, each line in the text file is a new row in the resulting DataFrame.

    :param paths: string, or list of strings, for input path(s).
    :param wholetext: if true, read each file from input path(s) as a single row.
    :param lineSep: defines the line separator that should be used for parsing. If None is
                    set, it covers all ``\r``, ``\r\n`` and ``\n``.

    >>> df = spark.read.text('python/test_support/sql/text-test.txt')
    >>> df.collect()
    [Row(value='hello'), Row(value='this')]
    >>> df = spark.read.text('python/test_support/sql/text-test.txt', wholetext=True)
    >>> df.collect()
    [Row(value='hello\nthis')]

    .. versionadded:: 1.6

In [21]:
# Importando desde txt
dfsTxt = spark.read.text('salario.txt')
dfsTxt.show(5)

+--------------------+
|               value|
+--------------------+
|rank,discipline,y...|
|Prof,B,19,18,Male...|
|Prof,B,20,16,Male...|
|AsstProf,B,4,3,Ma...|
|Prof,B,45,39,Male...|
+--------------------+
only showing top 5 rows

In [23]:
dfsTxt = spark.read.csv('salario.txt', header=True)
dfsTxt.show(5)

+--------+----------+-------------+-----------+----------+------+
|    rank|discipline|yrs_since_phd|yrs_service|       sex|salary|
+--------+----------+-------------+-----------+----------+------+
|    Prof|         B|           19|         18|Male      |139750|
|    Prof|         B|           20|         16|Male      |173200|
|AsstProf|         B|            4|          3|Male      | 79750|
|    Prof|         B|           45|         39|Male      |115000|
|    Prof|         B|           40|         41|Male      |141500|
+--------+----------+-------------+-----------+----------+------+
only showing top 5 rows

## 3.4. Importacion desde un parquet

Para importar datos desde un csv utilizamos el comando **spark.read.parquet**

Sintaxis más utilizada:
**dfsSpark = spark.read.parquet(DATA_PATH + file_name)**

In [24]:
help(spark.read.parquet)

Help on method parquet in module pyspark.sql.readwriter:

parquet(*paths) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads Parquet files, returning the result as a :class:`DataFrame`.

    You can set the following Parquet-specific option(s) for reading Parquet files:
        * ``mergeSchema``: sets whether we should merge schemas collected from all                 Parquet part-files. This will override ``spark.sql.parquet.mergeSchema``.                 The default value is specified in ``spark.sql.parquet.mergeSchema``.

    >>> df = spark.read.parquet('python/test_support/sql/parquet_partitioned')
    >>> df.dtypes
    [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]

    .. versionadded:: 1.4

In [25]:
# Importando desde parquet
dfsParquet = spark.read.parquet('part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet')
dfsParquet.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

## 3.5. Importacion desde un pandas Dataframe

Para importar datos desde un csv utilizamos el comando **spark.createDataFrame()**

Sintaxis más utilizada:
**dfsSpark = spark.createDataFrame(pandasDataframe)**

In [26]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True) method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of either :class:`Row`,
    :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
    Each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    :param data: an RDD of any kind of SQL data representation (e.g. row, tuple, int, boolean,
        etc.), :class:`list`, or :class:`pandas.DataFrame`.
    :param schema: a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is ``None``.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
        ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`. We can also use
        ``int`` as a short name for ``IntegerType``.
    :param samplingRatio: the sample ratio of rows used for inferring
    :param verifySchema: verify data types of every row against schema.
    :return: :class:`DataFrame`

    .. versionchanged:: 2.1
       Added verifySchema.

    .. note:: Usage with spark.sql.execution.arrow.enabled=True is experimental.

    >>> l = [('Alice', 1)]
    >>> spark.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

    .. versionadded:: 2.0

In [27]:
# Importando desde csv
dfpMorosidad = pd.read_csv('morosidad.csv')
dfpMorosidad.head(5)

   ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel
0   1    28    122        9   1115.09    206              4     1      5
1   2    27    173       61   2450.00    205              2     1      5
2   3    37    185        4   1390.00    177              2     3      5
3   4    34    262       20   2200.00    216              2     1      2
4   5    40    150       17  10000.00    185              2     1      2

In [28]:
# Verificando tipo de dato
type(dfpMorosidad)

pandas.core.frame.DataFrame

In [29]:
# Convirtiendo a Spark Dataframe
dfsMorosidad = spark.createDataFrame(dfpMorosidad)
dfsMorosidad.show(5)

+---+----+-----+-------+-------+-----+-------------+----+-----+
| ID|edad|meses|max_ant|ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+-------+-----+-------------+----+-----+
|  1|  28|  122|      9|1115.09|  206|            4|   1|    5|
|  2|  27|  173|     61| 2450.0|  205|            2|   1|    5|
|  3|  37|  185|      4| 1390.0|  177|            2|   3|    5|
|  4|  34|  262|     20| 2200.0|  216|            2|   1|    2|
|  5|  40|  150|     17|10000.0|  185|            2|   1|    2|
+---+----+-----+-------+-------+-----+-------------+----+-----+
only showing top 5 rows

In [30]:
# Verificando tipo de dato
type(dfsMorosidad)

pyspark.sql.dataframe.DataFrame

# 4.- Información básica de DataFrames



## 4.1. Previsualización

**show** es un método que muestra por pantalla _n_ filas del DataFrame.

In [31]:
dfsCSV.show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 10 rows



## 4.2. Dimensiones

En Spark, no existe un método *shape*, por lo que hay que contar por separados las filas y las columnas.

In [32]:
# Contando el numero de filas
dfsCSV.count()

256



`columns` es un atributo que contiene los nombres de las columnas del DataFrame.

In [33]:
dfsMorosidad.columns

['ID',
 'edad',
 'meses',
 'max_ant',
 'ingreso',
 'score',
 'tipo_vivienda',
 'zona',
 'nivel']

In [37]:
len(dfsMorosidad.columns)

9

In [38]:
print(f"La cantidad de filas es: {dfsCSV.count()} y la cantidad de columna es {len(dfsMorosidad.columns)}")

La cantidad de filas es: 256 y la cantidad de columna es 9



## 4.3. Schema

El schema de un dataframe nos muestra como se interpretaran los datos. Esto no significa que los datos estén así. _schema_ es un atributo del objeto, no un método. _printSchema()_ es un método que muestra una versión más entendidible del _schema_.

In [35]:
dfsCSV.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,IntegerType,true)))

In [36]:
dfsCSV.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)



## 4.3. dtypes

El atributo `dtypes` contiene los nombres de las columnas del dataframe junto con su tipo. Esto permite seleccionar nombres de columnas basados en el tipo, normalmente las variables categóricas (string y boolean) tienen tratamientos distintos a las numéricas (enteras y decimales).

In [40]:
dfsCSV.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'int')]

In [42]:
for columna, tipoDato in dfsCSV.dtypes:
  if tipoDato == 'string':
    print(columna, tipoDato)

DEST_COUNTRY_NAME string
ORIGIN_COUNTRY_NAME string

In [44]:
# Insertar codigo aqui
dfsCSV = spark.read.csv('2015-summary.csv', sep = ',', header = True)
dfsCSV.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [45]:
dfsCSV.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'string')]

# 5.- Operaciones con Dataframes de Spark

In [ ]:
dfsMorosidad.show(5)

## 5.1. Select

Filtra las columnas que deseamos mostrar

In [46]:
# Forma 1
dfsMorosidad.select('meses', 'score', 'zona').show(5)

+-----+-----+----+
|meses|score|zona|
+-----+-----+----+
|  122|  206|   1|
|  173|  205|   1|
|  185|  177|   3|
|  262|  216|   1|
|  150|  185|   1|
+-----+-----+----+
only showing top 5 rows

In [47]:
# Forma 2
dfsMorosidad.select(F.col('meses'), F.col('meses') * 2, F.col('score'), F.col('zona')).show(5)

+-----+-----------+-----+----+
|meses|(meses * 2)|score|zona|
+-----+-----------+-----+----+
|  122|        244|  206|   1|
|  173|        346|  205|   1|
|  185|        370|  177|   3|
|  262|        524|  216|   1|
|  150|        300|  185|   1|
+-----+-----------+-----+----+
only showing top 5 rows

In [48]:
# Forma 3
columnas = ['meses','score','zona']
dfsMorosidad.select(columnas).show(5)

+-----+-----+----+
|meses|score|zona|
+-----+-----+----+
|  122|  206|   1|
|  173|  205|   1|
|  185|  177|   3|
|  262|  216|   1|
|  150|  185|   1|
+-----+-----+----+
only showing top 5 rows

In [50]:
# Combinando las tres formas
columnas = ['meses',F.col('score')+ 2,'zona']
dfsMorosidad.select('ID', F.col('nivel') + 1, *columnas).show(5)

+---+-----------+-----+-----------+----+
| ID|(nivel + 1)|meses|(score + 2)|zona|
+---+-----------+-----+-----------+----+
|  1|          6|  122|        208|   1|
|  2|          6|  173|        207|   1|
|  3|          6|  185|        179|   3|
|  4|          3|  262|        218|   1|
|  5|          3|  150|        187|   1|
+---+-----------+-----+-----------+----+
only showing top 5 rows

## 5.2. Filter - Where

filtra resgistros segun cumplan la condicion.

In [51]:
dfsParquet.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [52]:
# Forma 1
dfsParquet.where("DEST_COUNTRY_NAME = 'United States'").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
+-----------------+-------------------+-----+
only showing top 5 rows

In [53]:
# Forma 2
dfsParquet.filter(F.col('ORIGIN_COUNTRY_NAME') == 'India').select('ORIGIN_COUNTRY_NAME','count').show(5)

+-------------------+-----+
|ORIGIN_COUNTRY_NAME|count|
+-------------------+-----+
|              India|   69|
+-------------------+-----+

**Ejercicio 1:
Genere una consulta que liste los paises cuyo 'count' sea mayor a 25**

In [54]:
# Resolver aqui
dfsParquet.filter(F.col('count')>25).select('DEST_COUNTRY_NAME','count').show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|  264|
|    United States|   69|
|    United States|   54|
|       Costa Rica|  477|
|          Senegal|   29|
+-----------------+-----+
only showing top 5 rows

In [56]:
# Forma 1
dfsParquet.where("count>25").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  264|
|    United States|              India|   69|
|    United States|            Grenada|   54|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
+-----------------+-------------------+-----+
only showing top 5 rows

In [57]:
# Varios valores - Forma 1
paises = ['United States', 'Egypt', 'Equatorial Guinea']
dfsParquet.where(F.col('DEST_COUNTRY_NAME').isin(paises)).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [ ]:
# SELECT *
# FROM dfsParquet
# WHERE DEST_COUNTRY_NAME in ('United States', 'Egypt', 'Equatorial Guinea')

In [58]:
# Varios valores - Forma 2
dfsParquet.where("DEST_COUNTRY_NAME in ('United States', 'Egypt', 'Equatorial Guinea')").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [59]:
# Varios valores - Forma 3
dfsParquet.where(F.col('DEST_COUNTRY_NAME').isin('United States', 'Egypt', 'Equatorial Guinea')).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

**OJO**: Para negar podemos usar el operador **~**

In [ ]:
# SELECT *
# FROM dfsParquet
# WHERE DEST_COUNTRY_NAME not in ('United States', 'Egypt', 'Equatorial Guinea')

In [60]:
# Negamos la anterior sentencia
dfsParquet.where(~F.col('DEST_COUNTRY_NAME').isin('United States', 'Egypt', 'Equatorial Guinea')).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|           Guyana|      United States|   17|
|            Malta|      United States|    1|
|          Bolivia|      United States|   46|
+-----------------+-------------------+-----+
only showing top 5 rows

**Ejercicio 2:
Genere una consulta que liste los paises cuyo 'ORIGIN_COUNTRY_NAME' no sea Romania, Ireland ni United States**

In [61]:
# Resolver aqui
dfsParquet.where(~F.col('ORIGIN_COUNTRY_NAME').isin('United States', 'Romania', 'Ireland')).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|              India|   69|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|    United States|   Marshall Islands|   44|
|    United States|       Sint Maarten|   53|
+-----------------+-------------------+-----+
only showing top 5 rows

In [62]:
# Resolver aqui
dfsParquet.where("ORIGIN_COUNTRY_NAME not in ('United States', 'Romania', 'Ireland')").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|              India|   69|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|    United States|   Marshall Islands|   44|
|    United States|       Sint Maarten|   53|
+-----------------+-------------------+-----+
only showing top 5 rows



__Combinación de filtros (AND / OR)__

__AND__

In [63]:
# Forma 1
dfsParquet.where( ( F.col('DEST_COUNTRY_NAME') == 'Malta' ) & 
                 ( F.col('ORIGIN_COUNTRY_NAME') == 'United States' ) ).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|            Malta|      United States|    1|
+-----------------+-------------------+-----+

In [64]:
# Forma 2
dfsParquet.where("DEST_COUNTRY_NAME = 'Malta' and ORIGIN_COUNTRY_NAME = 'United States'").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|            Malta|      United States|    1|
+-----------------+-------------------+-----+

__OR__

In [65]:
# Forma 1
dfsParquet.where((F.col('DEST_COUNTRY_NAME') == 'Malta') | (F.col('ORIGIN_COUNTRY_NAME') == 'United States')).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|           Guyana|      United States|   17|
+-----------------+-------------------+-----+
only showing top 5 rows

In [66]:
# Forma 2
dfsParquet.where("DEST_COUNTRY_NAME = 'Malta' or ORIGIN_COUNTRY_NAME = 'United States'").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
|       Costa Rica|      United States|  477|
|          Senegal|      United States|   29|
|           Guyana|      United States|   17|
+-----------------+-------------------+-----+
only showing top 5 rows

**Ejercicio 3:
Genere una consulta que liste los paises cuyo 'DEST_COUNTRY_NAME' sea United States y su 'ORIGIN_COUNTRY_NAME' no sea India**

In [67]:
# Resolver aqui
dfsParquet.where("DEST_COUNTRY_NAME = 'United States' and ORIGIN_COUNTRY_NAME != 'India'").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|          Singapore|   25|
|    United States|            Grenada|   54|
|    United States|   Marshall Islands|   44|
+-----------------+-------------------+-----+
only showing top 5 rows

## 5.3. Group By

Resume los registros en gru

In [68]:
dfsCSV.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [ ]:
# SELECT DEST_COUNTRY_NAME, count(*)
# FROM dfsCSV
# WHERE DEST_COUNTRY_NAME = "United States"
# GROUP BY DEST_COUNTRY_NAME

In [71]:
# Count
dfsCSV.where('DEST_COUNTRY_NAME = "United States"').groupBy('DEST_COUNTRY_NAME').count().show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|  125|
+-----------------+-----+

In [ ]:
# SELECT DEST_COUNTRY_NAME, count(*)
# FROM dfsCSV
# GROUP BY DEST_COUNTRY_NAME

In [80]:
# SUM
dfsCSV.groupBy('DEST_COUNTRY_NAME')\
.agg(F.count('*'), F.sum('count')).show(5)

+-----------------+--------+----------+
|DEST_COUNTRY_NAME|count(1)|sum(count)|
+-----------------+--------+----------+
|         Anguilla|       1|      41.0|
|           Russia|       1|     176.0|
|         Paraguay|       1|      60.0|
|          Senegal|       1|      40.0|
|           Sweden|       1|     118.0|
+-----------------+--------+----------+
only showing top 5 rows

In [76]:
# Combinando las dos formas
# SELECT count(*), SUM(variable)
# FROM dfsCSV
# GROUP BY DEST_COUNTRY_NAME

dfsCSV.groupBy('DEST_COUNTRY_NAME').agg(F.count('*'), F.max('count')).show(5)

+-----------------+--------+----------+
|DEST_COUNTRY_NAME|count(1)|max(count)|
+-----------------+--------+----------+
|         Anguilla|       1|        41|
|         Paraguay|       1|        60|
|           Russia|       1|       176|
|          Senegal|       1|        40|
|           Sweden|       1|       118|
+-----------------+--------+----------+
only showing top 5 rows

**Ejercicio 4:
Genere una consulta que agrupe por 'DEST_COUNTRY_NAME' y saque el minimo, maximo y el prmedio de 'count'**

In [83]:
# Resuelva aqui
dfsCSV.groupBy('DEST_COUNTRY_NAME')\
.agg(F.count('*'),F.countDistinct('ORIGIN_COUNTRY_NAME'),F.avg('count'), F.sum('count'), F.max('count'), F.min('count')).show(5)

+-----------------+--------+-----------------------------------+----------+----------+----------+----------+
|DEST_COUNTRY_NAME|count(1)|count(DISTINCT ORIGIN_COUNTRY_NAME)|avg(count)|sum(count)|max(count)|min(count)|
+-----------------+--------+-----------------------------------+----------+----------+----------+----------+
|         Anguilla|       1|                                  1|      41.0|      41.0|        41|        41|
|         Paraguay|       1|                                  1|      60.0|      60.0|        60|        60|
|           Russia|       1|                                  1|     176.0|     176.0|       176|       176|
|          Senegal|       1|                                  1|      40.0|      40.0|        40|        40|
|           Sweden|       1|                                  1|     118.0|     118.0|       118|       118|
+-----------------+--------+-----------------------------------+----------+----------+----------+----------+
only showing top 5 rows

## 5.4. Sort - OrderBy

Ordena los registros segun columna.

In [84]:
dfsMorosidad.show(5)

+---+----+-----+-------+-------+-----+-------------+----+-----+
| ID|edad|meses|max_ant|ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+-------+-----+-------------+----+-----+
|  1|  28|  122|      9|1115.09|  206|            4|   1|    5|
|  2|  27|  173|     61| 2450.0|  205|            2|   1|    5|
|  3|  37|  185|      4| 1390.0|  177|            2|   3|    5|
|  4|  34|  262|     20| 2200.0|  216|            2|   1|    2|
|  5|  40|  150|     17|10000.0|  185|            2|   1|    2|
+---+----+-----+-------+-------+-----+-------------+----+-----+
only showing top 5 rows

In [85]:
dfsMorosidad.orderBy(F.col('edad').desc()).show(5)

+---+----+-----+-------+-------+-----+-------------+----+-----+
| ID|edad|meses|max_ant|ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+-------+-----+-------------+----+-----+
|133|  65|  135|      0|28753.0|  254|            4|   1|    1|
| 61|  63|  270|     86| 9180.0|  213|            4|   1|    2|
| 92|  61|  122|      6| 9625.0|  238|            2|   1|    2|
|275|  55|  125|      8| 3686.3|  211|            2|   1|    5|
|152|  55|  162|     23|5593.21|  199|            4|   3|    5|
+---+----+-----+-------+-------+-----+-------------+----+-----+
only showing top 5 rows

In [86]:
dfsMorosidad.sort(F.col('ingreso').asc()).show(5)

+---+----+-----+-------+-------+-----+-------------+----+-----+
| ID|edad|meses|max_ant|ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+-------+-----+-------------+----+-----+
|117|  27|  121|      0| 608.03|  188|            4|   1|    5|
| 72|  24|  120|      0| 608.58|  192|            4|   1|    1|
|118|  22|  121|      0| 628.97|  156|            2|   1|    5|
|289|  28|  124|      6| 646.25|  204|            2|   1|    5|
|227|  26|  134|      0| 664.37|  188|            4|   2|    5|
+---+----+-----+-------+-------+-----+-------------+----+-----+
only showing top 5 rows

In [87]:
dfsMorosidad.sort(F.col('tipo_vivienda').asc(), F.col('ingreso').desc()).show(5)

+---+----+-----+-------+--------+-----+-------------+----+-----+
| ID|edad|meses|max_ant| ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+--------+-----+-------------+----+-----+
| 50|  27|  185|     12|  4200.0|  179|            1|   1|    2|
| 47|  27|  136|      8|  3500.0|  200|            1|   3|    2|
|110|  33|  150|      0|  2100.0|  182|            1|   4|    2|
| 91|  26|  117|      7| 30000.0|  206|            2|   1|    2|
| 19|  37|  162|      9|20285.08|  201|            2|   1|    2|
+---+----+-----+-------+--------+-----+-------------+----+-----+
only showing top 5 rows

## Funciones Extras

### Clausula When

In [ ]:
dfsCSV.select('count', F.when(F.col('count') < 25, "Menores a 25").otherwise("Mayores a 25")).show()

In [ ]:
dfsCSV.select('DEST_COUNTRY_NAME', F.when(F.col('count') < 25, "Menores a 25").when(F.col('count') < 50, "Menores a 50").otherwise("Mayores a 100")).show()

### Clausula Like

In [ ]:
dfsCSV.select("DEST_COUNTRY_NAME", F.col("DEST_COUNTRY_NAME").like("%Egy%")).show()

### Clausula Startswith - Endswith

In [ ]:
dfsCSV.select("DEST_COUNTRY_NAME", F.col("DEST_COUNTRY_NAME").startswith("Uni")).show()

In [ ]:
dfsCSV.select("DEST_COUNTRY_NAME", F.col("DEST_COUNTRY_NAME").endswith("a")).show()

### Clausula Substring

In [ ]:
dfsCSV.select("DEST_COUNTRY_NAME", (F.col("DEST_COUNTRY_NAME").substr(2,4)).alias("Nombre_Corto")).show()

### Clausula Between

In [ ]:
dfsCSV.select("DEST_COUNTRY_NAME", "count", F.col("count").between(25,75)).show()

In [ ]:
dfsCSV.select("DEST_COUNTRY_NAME", "count").where(F.col("count").between(25,75)).show()

### Distinct

Una llamada al método `distinct` es lo mismo que al método `dropDuplicates` sin parámetro. Es decir, tiene en cuenta todas las columnas. También se utiliza normalmente para contar los valores únicos de una columna.

In [ ]:
# Usamos la funcion distinct
dfsCSV.select('DEST_COUNTRY_NAME').distinct().show(5)

### Agregando Columnas

Usamos la sentencia **withColumn()**

In [ ]:
dfsCSV = dfsCSV.withColumn('Conteo', F.col('count') + 5 )
dfsCSV.show(5)

### Modificando nombres de columnas

In [ ]:
dfsCSV = dfsCSV.withColumnRenamed('count', 'cuenta')
dfsCSV.show()

**Ejercicio 5:
Genere una nueva columna llamada 'INICIALES' que sean las tres primeras letras del campo 'DEST_COUNTRY_NAME'**

In [ ]:
# Resuelva aqui

**Ejercicio 6:
Genere una nueva columna llamada 'FLAG_CONTEO' que si la variable cuenta es mayor a 25 entonces tome el valor de 1 caso contrario el valor 0**

In [ ]:
# Resuelva aqui



### Drop

El método `drop` tiene la función contraria al `select`, elimina un subconjunto de columnas. En este caso no se puede pasar una lista de columnas, es necesario utlizar el operador `*` para convertirlo a parámetros indivuales.

**OJO:** Si se intenta eliminar una columna que no existe no devuelve error.

In [ ]:
# Forma 1
dfsCSV = dfsCSV.drop('count','conteo')
dfsCSV.show(5)

In [ ]:
# Forma 2
columnas = ['DEST_COUNTRY_NAME','ORIGIN_COUNTRY_NAME']
dfsCSV = dfsCSV.drop(*columnas)
dfsCSV.show(5)